---
title: false
styles: true
---

/* Couleurs */
$whiteColor: #fbfbfb; /* blanc cassé pour le fond du site */
$blackColor: #212121; /* noir moin dur pour la couleur de la font */
$darkGrayColor: #757575; /* entrées du menu inactive */
$lightGrayColor: #f2f2f2; /* gris clair pour les en-têtes de tableau */

/* Couleurs du club */
$mainColor: #b40000; /* Rouge */
$darkMainColor: #780000; /* Rouge foncé */

$secondaryColor: #002654; /* Bleu */
$lightSecondaryColor: #02479c; /* Bleu plus clair */

@import "alembic";

body {
    background-color: $whiteColor;
    font-family: 'Noto Sans', 'Roboto', sans-serif;
    color: $blackColor;
}

/* Headers */
h1 {
    font-size: 28px;
    color: $blackColor;
}

h2 {
    font-size: 24px;
    color: $blackColor;
}

h3 {
    font-size: 18px;
    color: $blackColor;
}

/* Body Text */
p, li, table, th, td {
    font-family: 'Noto Sans', 'Roboto', sans-serif;
    font-size: 16px;
    color: $blackColor;
}

p.bold, li.bold {
    font-weight: 700;
    color: $blackColor;
}

p.italic, li.italic {
    font-style: italic;
    color: $blackColor;
}

/* Links */
a {
    color: $lightSecondaryColor;
    &:hover {
        color: $secondaryColor;
		text-decoration: underline;
    }
	&:active {
        color: $linkColour;
    }
	&:visited {
		color: $darkMainColor;
	}
}

nav a {
    color: $darkGrayColor;
}

nav a:hover {
    color: $blackColor;
}

nav a.active, .item--current {
    color: $mainColor; /* Couleur pour l'élément courant */
    font-weight: 700;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: $lightGrayColor;
    font-weight: bold;
}

/* Feature Image */
.feature-img {
    max-width: 100%;
    height: auto;
    }

/* Feature Section */
.feature {
    padding-bottom: 0.4rem;
    margin-bottom: 1.6rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 320px;
    .container {
        min-height: 35%;
        max-width: 60%;
        flex-direction: column;
        justify-content: center;
    }
}